<div class="app-form-container">
  <form [formGroup]="loginForm" class="app-login-form">
    <mat-form-field class="app-login-input">
      <mat-label>User name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>User name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="app-login-input">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error>Password is required</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="button"
      (click)="login()"
      [disabled]="!loginForm.valid"
    >
      Sign in
    </button>
  </form>
  <a routerLink="/register">Sign up</a>
</div>
