<div class="app-home-container">
  <div
    class="app-home-narrow-container"
    *ngIf="configService.exerciseTypes$ | async as exercises"
  >
    <ng-container *ngFor="let exercise of exercises">
      <div class="app-home-exercise-type">
        <div class="app-home-exercise-type-1">
          <div class="app-home-exercise-type-name">
            {{ exercise | exerciseType }}
          </div>
          <div class="app-home-exercise-type-muscles">
            <span class="app-home-exercise-type-muscles-text">
              Primary muscles:
            </span>
            {{ info[exercise].primaryMuscles.join(", ") }}
          </div>
        </div>
        <div class="app-home-exercise-type-2">
          <img src="../../../../assets/sample/{{ exercise }}.gif" />
        </div>
        <div class="app-home-exercise-type-3">
          <button mat-button (click)="learnMore(exercise)">Learn more</button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>
