<div class="app-register-container full-center">
  <div class="app-register-form-container">
    <span class="app-login-signin">SIGN UP</span>

    <form [formGroup]="registerForm" class="app-register-form">
      User name
      <mat-form-field class="app-register-input" appearance="outline">
        <input matInput formControlName="name" />
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-error>User name is required</mat-error>
      </mat-form-field>

      Password
      <mat-form-field class="app-register-input" appearance="outline">
        <input type="password" matInput formControlName="password1" />
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      Confirm password
      <mat-form-field class="app-register-input" appearance="outline">
        <input type="password" matInput formControlName="password2" />
        <mat-icon matPrefix>lock_reset</mat-icon>
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      <button type="submit" class="button signup-button" (click)="register()">
        Sign up
      </button>
      <mat-error *ngIf="registerForm.hasError('password')">
        Passwords are not matching
      </mat-error>
    </form>

    <mat-divider></mat-divider>

    <div class="app-register-footer full-center">
      <span>Already a user? <a routerLink="/login">SING IN</a></span>
    </div>
  </div>
</div>
