<div class="app-form-container">
  <form [formGroup]="registerForm" class="app-register-form">
    <mat-form-field class="app-register-input">
      <mat-label>User name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>User name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="app-register-input">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password1" />
      <mat-error>Password is required</mat-error>
    </mat-form-field>

    <mat-form-field class="app-register-input">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput formControlName="password2" />
      <mat-error>Password is required</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="button"
      (click)="register()"
      [disabled]="!registerForm.valid"
    >
      Sign up
    </button>
    <mat-error *ngIf="registerForm.hasError('password')">
      Passwords are not matching
    </mat-error>
  </form>
  <a routerLink="/login">Sign in</a>
</div>
