<div class="app-analyze-exercise-container">
  <mat-icon class="app-analyze-exercise-back" (click)="navigateBack()">
    arrow_circle_left
  </mat-icon>

  <div class="app-analyze-exercise">
    <div *ngIf="loading" class="app-analyze-exercise-loader full-center">
      <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!loading">
      <div class="app-analyze-exercise-header">
        <div class="app-analyze-exercise-space full-center">
          <div>
            <span class="app-analyze-exercise-header-title">
              {{ exercise?.name }}
            </span>
            <span class="app-analyze-exercise-header-date">
              {{ exercise?.created | date : "yyyy/MM/dd HH:mm:ss" }}
            </span>
            <app-exercise-type
              [exerciseTypeString]="exercise?.type"
            ></app-exercise-type>
          </div>

          <div>
            <mat-icon
              fontIcon="info_outline"
              class="app-analyze-exercise-header-icon"
              matTooltip="Check exercise information"
              (click)="openExercise()"
            ></mat-icon>
            <mat-icon
              fontIcon="add_circle_outline"
              class="app-analyze-exercise-header-icon"
              (click)="addExerciseFile()"
              matTooltip="Add video to exercise"
            ></mat-icon>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let movement of exercise?.movements">
        <div class="app-analyze-exercise-movement-container">
          <div class="app-analyze-exercise-view full-center">
            <div class="app-analyze-exercise-view-left">
              <mat-icon
                fontIcon="play_circle_outline"
                matTooltip="Open benchmark video"
                (click)="openBenchmarkVideo(movement.view)"
              ></mat-icon>
              <div>{{ movement.view }} view</div>
            </div>
            <mat-icon
              fontIcon="delete"
              (click)="deleteExerciseFile(movement.file_id)"
              matTooltip="Delete video"
            ></mat-icon>
          </div>
          <div class="app-analyze-exercise-row">
            <div class="app-analyze-exercise-left">
              <img
                src="data:image/gif;base64,{{ movement.file }}"
                class="app-analyze-movement-frame"
              />
            </div>
            <div class="app-analyze-exercise-right full-center">
              <div
                matTooltip="Based on aggregated joint distance from a baseline movement"
                class="app-analyze-exercise-score-container full-center"
                [ngClass]="{
                  'color-green': movement.analysis.score >= 85,
                  'color-yellow':
                    movement.analysis.score < 85 &&
                    movement.analysis.score >= 75,
                  'color-orange':
                    movement.analysis.score < 75 &&
                    movement.analysis.score >= 65,
                  'color-red': movement.analysis.score < 65
                }"
              >
                <div class="app-analyze-exercise-score-text">SCORE</div>
                <div class="app-analyze-exercise-score">
                  {{ movement.analysis.score }}
                </div>
              </div>
            </div>
          </div>
          <div class="app-analyze-exercise-feedback">
            <div class="app-analyze-exercise-feedback-correct">
              <span class="app-analyze-exercise-feedback-title">CORRECT</span>
              <div *ngIf="!movement.analysis.correct.length">-</div>
              <div
                *ngFor="let correct of movement.analysis.correct"
                class="app-analyze-exercise-feedback-line"
              >
                <mat-icon>done</mat-icon>
                {{ correct }}
              </div>
            </div>
            <div class="app-analyze-exercise-feedback-incorrect">
              <span class="app-analyze-exercise-feedback-title">
                CHANGE OR ATTENTION IS NEEDED
              </span>
              <div *ngIf="!movement.analysis.incorrect.length">-</div>
              <div
                *ngFor="let incorrect of movement.analysis.incorrect"
                class="app-analyze-exercise-feedback-line"
              >
                <mat-icon>clear</mat-icon>
                {{ incorrect }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
