<div class="app-analyze-exercise-container">
  <mat-icon class="app-analyze-exercise-back" (click)="navigateBack()">
    arrow_circle_left
  </mat-icon>

  <div class="app-analyze-exercise">
    <div class="app-analyze-exercise-header">
      <div class="app-analyze-exercise-space">
        <span class="app-analyze-exercise-header-title">
          {{ exercise?.name }}
        </span>
        <span class="app-analyze-exercise-header-date">
          {{ exercise?.created | date : "yyyy/MM/dd hh:mm:ss" }}
        </span>
      </div>
      <app-exercise-type
        [exerciseTypeString]="exercise?.type"
      ></app-exercise-type>
    </div>
    <ng-container *ngFor="let files of exercise?.files">
      <mat-divider class="app-analyze-ezercise-divider"></mat-divider>
      <div class="app-analyze-exercise-view">{{ files.view }} view</div>
      <div class="app-analyze-exercise-row">
        <div class="app-analyze-exercise-left">
          <img
            src="data:image/gif;base64,{{ files.file }}"
            class="app-analyze-movement-frame"
          />
        </div>
        <div class="app-analyze-exercise-right"></div>
      </div>
    </ng-container>
  </div>
</div>
