<div class="app-analyze-exercise-container">
  <mat-icon class="app-analyze-exercise-back" (click)="navigateBack()">
    arrow_circle_left
  </mat-icon>

  <div class="app-analyze-exercise">
    <div *ngIf="loading" class="app-analyze-exercise-loader full-center">
      <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!loading">
      <div class="app-analyze-exercise-header">
        <div class="app-analyze-exercise-space full-center">
          <div>
            <span class="app-analyze-exercise-header-title">
              {{ exercise?.name }}
            </span>
            <span class="app-analyze-exercise-header-date">
              {{ exercise?.created | date : "yyyy/MM/dd HH:mm:ss" }}
            </span>
            <app-exercise-type
              [exerciseTypeString]="exercise?.type"
            ></app-exercise-type>
            <app-exercise-tooltip
              class="app-upload-exercises-sample"
              [exerciseType]="exercise?.type"
            ></app-exercise-tooltip>
            <mat-icon
              matTooltip="Check exercise information"
              (click)="openExercise()"
            >
              open_in_new
            </mat-icon>
          </div>

          <mat-icon
            class="app-analyze-exercise-header-add"
            (click)="addExerciseFile()"
            matTooltip="Add video to exercise"
          >
            add_circle_outline
          </mat-icon>
        </div>
      </div>
      <ng-container *ngFor="let files of exercise?.files">
        <div class="app-analyze-exercise-movement-container">
          <div class="app-analyze-exercise-view full-center">
            <div>{{ files.view }} view</div>
            <mat-icon
              fontIcon="delete"
              (click)="deleteExerciseFile(files.file_id)"
              matTooltip="Delete video"
            ></mat-icon>
          </div>
          <div class="app-analyze-exercise-row">
            <div class="app-analyze-exercise-left">
              <img
                src="data:image/gif;base64,{{ files.file }}"
                class="app-analyze-movement-frame"
              />
            </div>
            <div class="app-analyze-exercise-right full-center">
              <div class="app-analyze-exercise-score-container full-center">
                <div class="app-analyze-exercise-score-text">SCORE</div>
                <div class="app-analyze-exercise-score">
                  {{ files.analyze.score }}
                </div>
              </div>
            </div>
          </div>
          <div class="app-analyze-exercise-feedback">
            <div class="app-analyze-exercise-feedback-correct">
              <div
                *ngFor="let correct of files.analyze.correct"
                class="app-analyze-exercise-feedback-line"
              >
                <mat-icon>done</mat-icon>
                {{ correct }}
              </div>
            </div>
            <div class="app-analyze-exercise-feedback-incorrect">
              <div
                *ngFor="let incorrect of files.analyze.incorrect"
                class="app-analyze-exercise-feedback-line"
              >
                <mat-icon>clear</mat-icon>
                {{ incorrect }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
