.app-analyze-exercise-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-analyze-exercise-back {
    position: absolute;
    left: 15px;
    top: 15px;

    transform: scale(1.8);
    color: rgba(255, 255, 255, 0.5);
  }
  .app-analyze-exercise-back:hover {
    color: rgba(255, 255, 255, 0.7);
  }

  .app-analyze-exercise {
    width: 760px;
    background-color: rgba(255, 255, 255, 0.4);

    .app-analyze-exercise-header {
      padding: 15px 30px;

      .app-analyze-exercise-space {
        display: flex;
        justify-content: space-between;

        .app-analyze-exercise-header-title {
          font-size: 24px;
          font-weight: 600;
          text-transform: capitalize;
        }

        .app-analyze-exercise-header-date {
          display: flex;
          align-items: center;
        }
      }
    }

    .app-analyze-exercise-view {
      padding-left: 30px;
      padding-top: 10px;
      text-transform: capitalize;
      font-weight: 500;
    }

    .app-analyze-exercise-row {
      width: 100%;
      padding: 15px 30px;

      .app-analyze-exercise-left {
        width: 400px;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .app-analyze-movement-frame {
          max-height: 400px;
          max-width: 400px;
          border-radius: 5px;
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);

          img {
            width: 100%;
          }
        }
      }
    }

    .app-analyze-ezercise-divider {
      margin: 0 15px;
      border-top-width: 3px;
      border-radius: 2px;
      border-top-color: rgba(0, 0, 0, 0.2);
    }
  }
}
