.app-image-viewer-container {
  width: 60vw;
  height: 33.75vw;

  background-color: black;
  overflow: hidden;

  img {
    height: 100%;
  }

  .app-upload-form-close {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .app-upload-form-close:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
