.app-choose-type-container {
  height: 100%;

  display: flex;
  align-items: center;

  .app-choose-type-subcontainer {
    height: 330px;
    padding: 15px 5px;

    display: flex;

    .app-choose-type-card {
      width: 250px;
      min-width: 250px;
      margin: 0 10px;
      border-radius: 10px;

      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
      opacity: 0.9;

      transition-property: transform;
      transition-duration: 0.2s;

      background-color: rgba(255, 255, 255, 0.729);

      .app-choose-type-card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        font-size: 22px;
        font-weight: 500;
      }

      .app-choose-type-card-img {
        height: 250px;

        background-size: contain;
      }
    }
    .app-choose-type-card:hover {
      color: white;
      background-color: rgba(210, 105, 30, 0.7);
      opacity: 1;
      transform: scale(1.04);

      cursor: pointer;
    }
  }
}
