<div class="app-upload-exercises-container full-center">
  <div class="app-upload-exercises">
    <h1>Upload exercise</h1>
    <p class="margin-top-0">
      Upload and analyze one or multiple videos for a particular exercise
    </p>

    <div [formGroup]="exerciseForm" class="app-upload-exercises-form">
      Exercise name
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" />
        <mat-error>Exercise name is required</mat-error>
      </mat-form-field>

      Exercise type
      <mat-form-field appearance="outline">
        <input matInput formControlName="type" />
        <mat-error>Exercise type is required</mat-error>
      </mat-form-field>
    </div>

    Upload video
    <div class="app-upload-exercises-slot-container">
      <div
        class="app-upload-exercises-slot-base app-upload-exercises-slot-img"
        *ngFor="let file of files; let i = index"
      >
        <app-upload-exercises-preview
          [file]="file"
          [index]="i"
          [thumbnail]="i === thumbnailIndex"
          (deleteGifEvent)="deleteGif($event)"
          (setThumbnailEvent)="setThumbnail($event)"
          style="width: 100%"
        ></app-upload-exercises-preview>
      </div>
      <div
        class="app-upload-exercises-slot-base app-upload-exercises-slot-choose full-center"
      >
        <mat-icon (click)="openUpload()">add_circle_outline</mat-icon>
      </div>
    </div>
    <button
      (click)="uploadFile()"
      class="margin-top-10 app-upload-exercises-submit"
    >
      Upload
    </button>
  </div>
</div>
