.app-upload-exercises-container {
  width: 100%;
  height: 100%;
}

.app-upload-exercises {
  width: 660px;
  min-width: 660px;
  height: max-content;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .app-upload-exercises-header {
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    padding: 30px;
    margin-top: 0 5px;
  }
  .app-upload-exercises-content {
    padding: 0 30px;
  }
}

.app-upload-exercises-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-upload-exercises-subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.app-upload-exercises-slot-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;

  width: 100%;
}

.app-upload-exercises-slot-base {
  height: 109px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.app-upload-exercises-slot-img {
  border: 1px solid black;
  background-color: black;
}

.app-upload-exercises-slot-choose {
  border: 1px dashed black;
  background-color: rgba(0, 0, 0, 0.1);

  mat-icon {
    transform: scale(2);
    color: rgba(255, 255, 255, 0.4);
  }
}
.app-upload-exercises-slot-choose:hover {
  background-color: rgba(0, 0, 0, 0.2);

  mat-icon {
    color: rgba(0, 0, 0, 0.4);
  }
}

.app-upload-exercises-submit {
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
}
