<div class="app-upload-container">
  <div class="app-upload-form">
    <div class="app-upload-video-frame">
      <div
        class="app-upload-dropzone"
        ngx-dropzone
        *ngIf="!file"
        (change)="onSelect($event)"
        [multiple]="false"
        accept="video/*"
      >
        Drop or choose your video there!
      </div>

      <video
        [src]="url"
        *ngIf="file"
        (loadedmetadata)="setDuration($event)"
        controls
        playsinline
        muted
        class="app-upload-video"
      ></video>
    </div>

    <button (click)="trimFile()"></button>

    <mat-slider
      *ngIf="file"
      min="0"
      [max]="duration"
      step="0.1"
      showTickMarks
      discrete
    >
      <input value="0" [(ngModel)]="start" matSliderStartThumb />
      <input [value]="duration" [(ngModel)]="end" matSliderEndThumb />
    </mat-slider>
  </div>
</div>
