.app-upload-container {
  width: 100%;
  height: 100%;
  background-color: chocolate;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-upload-form {
  width: 700px;
  height: 650px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  border-radius: 4px;
}

.app-upload-delete-file {
  background-color: red;
  color: white;
}
.app-upload-delete-file:hover {
  background-color: rgb(255, 62, 62);
}

.app-upload-currenttime {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  min-width: 47px;
  text-align: center;

  color: white;
  background-color: rgba(0, 0, 0, 0.2);

  font-size: 24px;
}

.app-upload-video-frame {
  width: 666px;
  height: 374.625px;

  position: relative;
  display: flex;
  justify-content: center;

  background-color: black;

  img {
    height: 100%;
  }
}

.app-upload-video {
  width: 100%;
  height: 100%;
}

.app-upload-spinner-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-upload-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  border-radius: 0;
  font-size: 24px;
  color: black;

  border: 1px;
  border-style: dashed;
}
.app-upload-dropzone:hover {
  background-color: antiquewhite;
}

.app-upload-slider-container {
  padding-top: 20px;
}

.app-upload-stepper-container {
  height: 100% !important;
}

mat-slider {
  width: 650px;
}

mat-stepper {
  height: 100%;
}

::ng-deep .mat-horizontal-stepper-wrapper,
::ng-deep .mat-horizontal-content-container {
  height: 100%;
}
::ng-deep .mat-horizontal-stepper-content {
  height: 100%;
  position: relative;
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

[hidden] {
  display: none !important;
}

.app-upload-buttons {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  button {
    height: 100%;
    margin-left: 5px;
  }
}
