<div class="app-upload-container">
  <div class="app-upload-form">
    <mat-stepper #stepper animationDuration="0">
      <mat-step id="trim">
        <div class="app-upload-stepper-container">
          <ng-template matStepLabel>Upload & trim video</ng-template>

          <ng-container *ngIf="loading">
            <div class="app-upload-spinner-container">
              <mat-spinner class="app-upload-spinner"></mat-spinner>
            </div>
          </ng-container>

          <div class="app-upload-video-frame" [hidden]="loading">
            <div
              class="app-upload-dropzone"
              ngx-dropzone
              *ngIf="!file"
              (change)="onSelect($event)"
              [multiple]="false"
              accept="video/*"
            >
              Upload video by clicking or drag and dropping here!
            </div>

            <video
              [src]="url"
              *ngIf="file"
              (durationchange)="setDuration($event)"
              (timeupdate)="onTimeUpdate($event)"
              controls
              playsinline
              muted
              class="app-upload-video"
              controlslist="nodownload nofullscreen noremoteplayback"
            ></video>
          </div>

          <ng-container *ngIf="!loading">
            <div *ngIf="file" class="app-upload-slider-container">
              <div>
                Choose the start and the end of the movement with the slider!
                ({{ start }} - {{ end }})
              </div>

              <mat-slider
                min="0"
                [max]="duration"
                step="0.1"
                showTickMarks
                discrete
              >
                <input [(ngModel)]="start" matSliderStartThumb />
                <input [(ngModel)]="end" matSliderEndThumb />
              </mat-slider>

              <div class="app-upload-currenttime">
                {{ currentTime }}
              </div>
            </div>

            <div class="app-upload-buttons">
              <button
                *ngIf="file"
                (click)="removeFile()"
                class="app-upload-delete-file"
                mat-button
              >
                <mat-icon fontIcon="delete"></mat-icon>
              </button>
              <ng-container *ngIf="!file">
                <div></div>
              </ng-container>

              <div>
                <button (click)="trimFile()" mat-button [disabled]="!file">
                  {{ trimmedVideo ? "Re-trim video" : "Trim video" }}
                </button>
                <button
                  *ngIf="trimmedVideo"
                  (click)="stepper.next()"
                  mat-button
                >
                  Next
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-step>

      <mat-step id="preview">
        <div class="app-upload-stepper-container">
          <ng-template matStepLabel>Preview</ng-template>

          <div class="app-upload-video-frame">
            <img
              *ngIf="trimmedVideo"
              src="data:image/gif;base64,{{ trimmedVideo }}"
            />
          </div>

          <div class="app-upload-buttons">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <form>
          <ng-template matStepLabel>Choose exercise</ng-template>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
