.sidebar-elem {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  color: rgba(255, 255, 255, 0.9);

  cursor: pointer;

  mat-icon {
    padding-right: 15px;
  }

  &.highlight {
    background-color: rgba(255, 255, 255, 0.2);

    mat-icon {
      color: rgba(210, 105, 30, 0.7);
    }
  }

  &:hover:not(.highlight) {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    mat-icon {
      color: rgba(210, 105, 30, 0.7);
    }
  }
}
