<div
  class="app-analyze-card"
  (mouseenter)="entered = true"
  (mouseleave)="entered = false"
>
  <div class="app-analyze-card-header">
    <div class="app-analyze-card-header-date">
      {{ exercise?.created | date : "yyyy/MM/dd HH:mm:ss" }}
    </div>
    <mat-icon
      (click)="deleteFile()"
      *ngIf="entered"
      fontIcon="delete"
    ></mat-icon>
  </div>
  <div class="app-analyze-card-img">
    <img src="data:image/jpg;base64,{{ exercise?.thumbnail }}" />
  </div>
  <div class="app-analyze-card-footer">
    <div class="app-analyze-card-info">
      <div class="app-analyze-card-info-name margin-bottom-5">
        {{ exercise?.name }}
      </div>
      <app-exercise-type
        [exerciseTypeString]="exercise?.type"
      ></app-exercise-type>
    </div>
    <div class="app-analyze-open">
      <mat-icon
        (click)="openFile()"
        *ngIf="entered"
        fontIcon="open_in_new"
      ></mat-icon>
    </div>
  </div>
</div>
