.app-analyze-card {
  height: 300px;
  width: 356px;

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);

  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  transition: box-shadow linear 0.15s, opacity linear 0.15s;
}
.app-analyze-card:hover {
  box-shadow: 0px 0px 3px 3px purple;
  opacity: 1;
  transition: box-shadow linear 0.15s, opacity linear 0.15s;
}

.app-analyze-card-header {
  height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 23px;
  padding-right: 8px;

  .app-analyze-card-header-date {
    pointer-events: none;
  }

  mat-icon {
    padding: 3px;
  }
  mat-icon:hover {
    transform: scale(1.05);
    color: red;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.app-analyze-card-img {
  height: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  background-color: black;

  overflow: hidden;

  img {
    height: 100%;
  }
}

.app-analyze-card-footer {
  height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  justify-content: space-between;

  .app-analyze-card-info {
    width: 80%;
    height: 100%;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    pointer-events: none;

    .app-analyze-card-info-name {
      font-weight: 600;
      font-size: 18px;
      text-transform: capitalize;
      padding-left: 3px;
    }
  }

  .app-analyze-open {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    mat-icon {
      padding: 6px;
      background-color: rgba(0, 0, 0, 0.2);
    }
    mat-icon:hover {
      transform: scale(1.2);
      color: purple;
    }
  }
}
