<mat-icon class="app-exercise-description-back" (click)="navigateBack()">
  arrow_circle_left
</mat-icon>

<div class="app-exercise-description-container">
  <div class="app-exercise-description-narrow-container">
    <div class="app-exercise-description-title">
      {{ exerciseType | exerciseType }}
    </div>

    <div class="app-exercise-description-image-and-description">
      <img src="../../../../assets/sample/{{ exerciseType }}.gif" />
      <div class="app-exercise-description-text">{{ info.description }}</div>
    </div>

    <h2>Primary muscles used</h2>
    <ul>
      <li
        *ngFor="let primaryMuscle of info.primaryMuscles"
        class="app-exercise-description-instruction"
      >
        {{ primaryMuscle }}
      </li>
    </ul>

    <h2>Instructions</h2>
    <ul>
      <li
        *ngFor="let instruction of info.instructions"
        class="app-exercise-description-instruction"
      >
        {{ instruction }}
      </li>
    </ul>

    <h2>Benefits</h2>
    <ul>
      <li
        *ngFor="let benefit of info.benefits"
        class="app-exercise-description-instruction"
      >
        <strong>{{ benefit.split(":")[0] }}:</strong>
        {{ benefit.split(":")[1] }}
      </li>
    </ul>
  </div>
</div>
