.app-exercise-description-back {
  position: absolute;
  left: 25px;
  top: 15px;

  transform: scale(1.8);
  color: rgba(255, 255, 255, 0.5);
}
.app-exercise-description-back:hover {
  color: rgba(255, 255, 255, 0.7);
}

.app-exercise-description-container {
  margin: 0 70px;
  display: flex;
  justify-content: center;

  .app-exercise-description-narrow-container {
    padding: 0 50px;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 900px;

    .app-exercise-description-title {
      font-size: 32px;
      font-weight: 600;

      padding: 25px;

      display: flex;
      justify-content: center;
    }

    .app-exercise-description-image-and-description {
      display: flex;
      align-items: center;
      font-size: 22px;

      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      padding: 10px;

      .app-exercise-description-text {
        padding-left: 30px;
      }

      img {
        border-radius: 5px;
        height: 200px;
      }
    }

    .app-exercise-description-instruction {
      font-size: 18px;

      ul {
        margin: 0;
      }
    }
  }
}
