/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
  border-radius: 2px;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 25px;
}

button:hover {
  background-color: #00aacc;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
